*{
   padding: 0;
   margin: 0;
   font-family: 'Josefin Sans', sans-serif;
   box-sizing: border-box;
}
.hero{
	height: 100%;
	width: 100%;
	background-image: url("dark.png");
	background-size: cover;
	background-position: center;
}

nav{
	display: flex;
	align-items: center; 
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}

.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: rgb(18, 167, 253);
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 30px;
}
nav ul li a{
    color: rgb(255, 255, 255);
	text-decoration: none;
}
nav ul li a:hover{
    color: rgb(18, 167, 253);
	transition: .4s;
}
.btn{
	padding: 10px 25px;
        display: inline-block;
        color: #ffffff;
        text-decoration: none;
        overflow: hidden;
		font-weight: bold;
		border-radius: 30px;
		transition: transform .4s;
}
.btn:hover{
	color: #111;
	background: rgb(18, 167, 253);
	box-shadow: 0 0 50px rgb(18, 167, 253);
	transform: scale(1.1);
}
.content{
	position: absolute;
	top: 50%;
	left: 8%;
	transform: translateY(-50);
	animation: slide 0.5s forwards;
    animation-delay: .5s;
}

h1{
	color: whitesmoke;
	margin: 20px 0px 20px;
	font-size: 70px;
}
h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color:grey;
	font-size: 20px;
	letter-spacing: 2px;
}
.newsletter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.newsletter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid rgb(18, 167, 253);
	outline: none;
	border-radius: 30px;
}  
.share{
	position:absolute;
	top: 90%;
	left: 8%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	
}
.share p{
	font-size: 17px;
	color: rgb(18, 167, 253);
	margin-right: 60px;
	
}
.share .social a{
	display: inline-block;
	color: rgb(255, 255, 255);
	margin-right: 15px;
	transition: transform .3s;
}
.share .social a:hover{
	transform: scale(1.6);
}

@keyframes slide {
    100% { left: 525; }
}

@keyframes slide {
    100% { left: 525; }
}


.footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(15, 13, 12);
    color: rgb(255, 255, 255);
}