*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
 }

.main{

    background-image: url("dark.png");
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1{
    position: absolute;
    top: 100px;
    color: white;
    font-size: 60px;
    padding-bottom: 10px;
    text-align: center;
}

span{
    color: rgb(18, 167, 253);
}
.skills{
    width: 1180px;
    display: flex;
    justify-content: space-around;
}
.box{
    position: relative;
    background: #191919;
    padding: 45px 45px;
    width: 350px;
    height: auto;
    border-radius: 20px;
    -webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.box:hover{
    -webkit-filter: blur(0);
	filter: blur(0);
}
.box i{
    font-size: 36px;
    color: rgb(18, 167, 253);
    margin-bottom: 20px;
}
.box h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.box p{
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 28px;
    margin-bottom: 25px;
}

button{
    background: rgb(18, 167, 253);
    padding: 10px 28px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    border-radius: 30px;
}
button:hover{
    transform: translateY(-5px) scale(1.2);
    transition: .3s;
    cursor: pointer;
}

.btn{
	padding: 10px 25px;
        display: inline-block;
        color: #ffffff;
        text-decoration: none;
        overflow: hidden;
		font-weight: bold;
		border-radius: 30px;
		transition: transform .4s;
}
.btn:hover{
	color: #111;
	background: rgb(18, 167, 253);
	box-shadow: 0 0 50px rgb(18, 167, 253);
	transform: scale(1.1);
}


nav{
	display: flex;
	align-items: center; 
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
    background-color: rgb(19, 18, 18);
}

.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: rgb(18, 167, 253);
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 30px;
}
nav ul li a{
    color: rgb(255, 255, 255);
	text-decoration: none;
}
nav ul li a:hover{
    color: rgb(18, 167, 253);
	transition: .4s;
}
.btn{
	padding: 10px 25px;
        display: inline-block;
        color: #ffffff;
        text-decoration: none;
        overflow: hidden;
		font-weight: bold;
		border-radius: 30px;
		transition: transform .4s;
}
.btn:hover{
	color: #111;
	background: rgb(18, 167, 253);
	box-shadow: 0 0 50px rgb(18, 167, 253);
	transform: scale(1.1);
}


.footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(15, 13, 12);
    color: rgb(255, 255, 255);
}
